<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div class="container">
    <h1 th:if="${hasErrors}" th:text="error"></h1>
</div>
<div class="container">
    <form class="form-singin mt-xl-5" method="post" action="/register">
        <h2>Register</h2>
        <p>
            <label for="username">Username</label>
            <input type="tel" id="username" name="username" placeholder="Username" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </p>
        <p>
            <label for="repeatPassword">Repeat Password</label>
            <input type="password" id="repeatPassword" name="repeatPassword" placeholder="repeatPassword" required>
        </p>
        <p>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Name" required>
        </p>
        <p>
            <label for="surname">Surname</label>
            <input type="text" id="surname" name="surname" placeholder="Surname" required>
        </p>
        <button type="submit">Sign up</button>
    </form>
    <a href="/login">Already have an account? Login here!</a>
</div>
</body>
</html>